<%- include("partials/header") -%>

<header>
    <h1><%= title %></h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>

<div class="main-content">
    <img class="portrait" src="https://picsum.photos/seed/picsum/300/300">
</div>

<%- include("partials/footer") -%>